<!DOCTYPE html>
<html>

<head>
  <title>一覧</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <p class="alert alert-primary">処理時間：<%= procInterval %>秒</p>
  <% for (let data of objlist) { %>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <a href="<%= data.url %>">
        <h5 class="card-title">【<%= data.boshuNo %>】<%= data.title %></h5>
      </a>
      <p class="card-text">種類：<%= data.shurui %>｜<%= data.date %>｜<%= data.datelimit %></p>
    </div>
  </div>
  <% } %>
</body>

</html>